#login {
  display: flex;

  align-items: center;

  justify-content: center;

  height: 100vh;
}

.card {
  background-color: #261201;

  padding: 40px;

  border-radius: 2px;

  width: 30%;
}

.card-header {
  width: 100%;

  padding-bottom: 50px;

  color: #fff;
}

.card-header h3 {
  text-align: center;
}

.card-header::after {
  content: "";

  width: 70px;

  height: 1px;

  background-color: #fff;

  display: block;

  margin-top: -17px;

  margin-left: -5px;
}

.card-content label {
  color: #fff;

  font-size: 12px;
}

.card-content-area {
  display: flex;

  flex-direction: column;

  padding: 10px 0;
}

.card-content-area input {
  margin-top: 10px;

  padding: 0 5px;

  border: none;

  border-bottom: 1px solid #e1e1e1;

  outline: none;

  color: #260101;
}

.card-footer {
  display: flex;

  flex-direction: column;
}

.card-footer .submit {
  width: 100%;

  height: 40px;

  background-color: #f2ae2e;

  border: none;

  color: #e1e1e1;

  margin: 10px 0;
}

#loginMenu{
    color: #260101;
   background-color: #f2ae2e;
    border-radius: 10px;
    padding: 10px;
    
}

.card-footer a {
  text-align: center;

  font-size: 12px;

  color: #fff;

  text-decoration: none;
}
@media (max-width: 1075px) {
  #login {
    display: flex;

    align-items: center;

    justify-content: center;

    height: 100%;
    width: 100%;
  }
  .card {
    background-color: #261201;

    padding: 10px;

    border-radius: 2px;

    width: 80%;

    margin-bottom: 20px;
    margin-top: 20px;
  }
}
